/* line 4, /home/rachna/.rvm/gems/ruby-2.2.3/gems/rails-assets-tether-1.1.1/app/assets/stylesheets/tether/helpers/_tether.sass */
.tether-element, .tether-element:after, .tether-element:before, .tether-element *, .tether-element *:after, .tether-element *:before {
  box-sizing: border-box;
}

/* line 7, /home/rachna/.rvm/gems/ruby-2.2.3/gems/rails-assets-tether-1.1.1/app/assets/stylesheets/tether/helpers/_tether.sass */
.tether-element {
  position: absolute;
  display: none;
}
/* line 11, /home/rachna/.rvm/gems/ruby-2.2.3/gems/rails-assets-tether-1.1.1/app/assets/stylesheets/tether/helpers/_tether.sass */
.tether-element.tether-open {
  display: block;
}
